{{#section 'css'}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
    <link rel="stylesheet" href="/css/product_detail.css">
{{/section}}
<div class="container-fluid mt-2 mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <ul id="lightSlider">
                        <li data-thumb="https://i.imgur.com/KZpuufK.jpg"> <img src="https://i.imgur.com/KZpuufK.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/GwiUmQA.jpg"> <img src="https://i.imgur.com/GwiUmQA.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/DhKkTrG.jpg"> <img src="https://i.imgur.com/DhKkTrG.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/kYWqL7k.jpg"> <img src="https://i.imgur.com/kYWqL7k.jpg" /> </li>
                        <li data-thumb="https://i.imgur.com/c9uUysL.jpg"> <img src="https://i.imgur.com/c9uUysL.jpg" /> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="d-flex flex-row align-items-center">
                    <div class="p-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="ml-1">5.0</span>
                </div>
                <div class="about">
                    <h1><span class="font-weight-bold">Sản phẩm mẫu </span></h1>
                    <h4 class="font-weight-bold mt-4">Giá hiện tại: <span class="ml-2 text-danger">100.000vnđ</span></h4>
                    <h4 class="font-weight-bold mt-4">Giá mua ngay: <span class="ml-2 text-danger">1.000.000vnđ</span></h4>
                </div>
                <div class="buttons">
                    <button class="btn bg-warning btn-long">Mua ngay</button>
                    <button class="btn bg-success btn-long text-white">Đấu giá</button>
                    <button class="btn btn-outline-danger">
                        <i class="fa fa-heart"></i>
                    </button>
                </div>
                <hr>
                <div class="product-description">
                    <div class="d-flex flex-row align-items-center">
                        <h5 class="card-title">
                            <i class="fa fa-calendar-check-o"></i>
                            Đăng vào lúc: <span class="text-info">11/03/2021 1:01 PM EST</span>
                        </h5>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <h5 class="card-title">
                            <i class="fa fa-calendar-times-o" aria-hidden="true"></i></i>
                            Đóng vào lúc: <span class="text-danger">12/03/2021 12:01 PM EST</span>
                        </h5>
                    </div>
                    <div class="mt-2"> <span class="font-weight-bold">Mô tả</span>
                        <p>The minimalist collaboration features chairs, lightening, Shelves, Sofas, Desks and various home accessories, all offering form and function at the same point.We use high-strength clamps and joinery techniques specially designed for engineered wood beds. Ergo, no irksome creaks - and you can sleep like a baby, well into adulthood!</p>
                    </div>
                    <div class="mt-2"> <span class="font-weight-bold">Người bán</span> </div>
                    <div class="d-flex flex-row align-items-center"> <img src="https://i.imgur.com/N2fYgvD.png" class="rounded-circle store-image">
                        <div class="d-flex flex-column ml-1 comment-profile">
                            <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div> <span class="username">Rare Boutique</span> <small class="followers">25K Followers</small>
                        </div>
                    </div>
                    <div class="card mt-5">
                        <div class="card-header bg-dark text-white">
                            <h5>Người ra giá cao nhất hiện tại</h5>
                        </div>
                        <table class="table table-hover border">
                            <thead>
                            <tr>
                                <th scope="col">Tên người dùng</th>
                                <th scope="col">Email</th>
                                <th scope="col">Điểm đánh giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Do Dinh Van</td>
                                <td>dinhvan3111@gmail.com</td>
                                <td>
                                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="ml-1 font-bold">4.7</span></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="card mt-2"> <h5>Sản phẩm liên quan:</h5>
            <div class="card-body">
                <div class="row">
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="/single_product" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#section 'js'}}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script>
    $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 6
    });
</script>
{{/section}}