{{#section 'title'}}
    <title>Danh sách sản phẩm</title>
{{/section}}
<div class="col-sm-12 col-md-10 col-xl-10">

    <!-- Products section -->
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <div class="card">
                <div class="card-header bg-warning font-bold">
                    Danh sách sản phẩm
                </div>
                <div class="card-body">
                    <div class="dropdown text-right">
                        <button class="btn border border-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Sắp xếp theo
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm mb-5 bg-white rounded"
                             aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Thời gian kết thúc giảm dần</a>
                            <a class="dropdown-item" href="#">Giá tăng dần</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="product-img-4-sidebar" src="img/products/example.svg" alt="Sản phẩm">
                                    <h5 class="card-title">Sản phẩm 1</h5>
                                    <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                    <h6 class="card-title">Đóng vào lúc: <span
                                            class="text-info">12/03/2021 12:01 PM EST</span></h6>
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        Đấu giá ngay
                                    </a>
                                    <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                        Quan tâm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination  mt-3 justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </blockquote>
    </div>
    <!-- End Products section -->

</div>