
.mt-6 {
    margin-top: 5rem !important;
}

.font-bold {
    font-weight: bold !important;
}

.bg-light-yellow {
    background: #ffd66c !important;
}

/* Navbar */
nav {
    font-weight: bold;
    position: absolute;
    padding: 0 16px !important;
    margin: 0!important;
    line-height:38px;
    display:inline-block;
    /*height:56px;*/

}

.navbar-nav > li:hover >a {
    /*background-color: #e5c766;*/
    /*background-color: #fff;*/
    background: #ffd66c;
    color: #000;
    height: 56px;
    /*line-height:38px;*/
}

.dropdown-menu {
    margin-top: 0!important;
    padding: 0!important;
}
nav .search-for-lg {
    display: none;
}

@media (min-width: 992px) {
    nav .search-for-md {
        display: none;
    }

    nav .search-for-lg {
        display: block;
    }
}
.seach_form{
    padding:8px!important;
}
.navbar-nav li:hover .dropdown-menu {
    display: inline-block;
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}

/* Sidebar */
#sidebar {
    width: 15%;
    position: fixed;
}
@media (max-width: 768px){
    #sidebar {
        position: relative;
        width: 100%;
    }
}

/* Dropdown menu*/
.dropdown-menu .dropdown-item:hover {
    background: #ffe9b4;
}

.dropdown-menu .dropdown-divider {
    border-color: black;
    margin: 0;
}

/* Carousel Items */
.carousel-item img {
    height: 350px;
}

/*resigter*/
#frmRegister{

}

/* Top product */
@media (max-width: 1200px) {
    .top-product  .top-product-item:nth-child(5){
        display: none;
    }
}

/* Footer */
footer .copyright {
    background-color: #000;
    color: #fff;
}
