
.mt-6 {
    margin-top: 5rem !important;
}

.font-bold {
    font-weight: bold !important;
}

.bg-light-yellow {
    background: #ffd66c !important;
}

/* Navbar */
nav {
    font-weight: bold;
    position: absolute;
    padding: 0 16px !important;
    margin: 0!important;
    line-height:38px;
    display:inline-block;
    /*height:56px;*/

}

.navbar-nav > li:hover >a {
    /*background-color: #e5c766;*/
    /*background-color: #fff;*/
    background: #ffd66c;
    color: #000;
    height: 56px;
    /*line-height:38px;*/
}

.dropdown-menu {
    margin-top: 0!important;
    padding: 0!important;
}
nav .search-for-lg {
    display: none;
}

@media (min-width: 992px) {
    nav .search-for-md {
        display: none;
    }

    nav .search-for-lg {
        display: block;
    }
}
.seach_form{
    padding:8px!important;
}
.navbar-nav li:hover .dropdown-menu {
    display: inline-block;
    box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}

/*Categoy*/
.row .card .main-category{
    color:#000;
}
.row .card .main-category{
    text-decoration: none;
}
#btn-add-ctg{
    padding: 0.25rem 0.5rem;
    margin: 6px 12px;
    font-weight: bold;
    /*width:200px;*/
    float: right;
}
/*bid*/
.card .modal-content{
    border-radius:16px;
    /*height:192px;*/

}
.modal{
    /*display:flex;*/
    align-items: center!important;
}
.modal-dialog{
    align-items: center;
    vertical-align: middle;
    height:100vh;
    display: flex;
}
#max_bid_price,#comment{
    width: 100%;
    border-radius: 20px;
    padding:6px;

}
#bidModalLabel,#commentModalLabel{
    font-style: italic;
}
.modal-content .modal-footer button{
    padding:0 12px!important;
    height:36px!important;
    border-radius: 16px;
}
.modal-content .modal-footer{
    padding:6px 12px;
}
.modal-content .modal-body{
    padding:16px 16px 0 16px;
}

/* Sidebar */
#sidebar {
    width: 15%;
    position: fixed;
}
@media (max-width: 768px){
    #sidebar {
        position: relative;
        width: 100%;
    }
}

/* Dropdown menu*/
.dropdown-menu .dropdown-item:hover {
    background: #ffe9b4;
}

.dropdown-menu .dropdown-divider {
    border-color: black;
    margin: 0;
}

/* Carousel Items */
.carousel-item img {
    width: 100%;
    height: 350px;
}

/*resigter*/
#frmRegister{

}

/* Top product */
@media (max-width: 1200px) {
    .top-product  .top-product-item:nth-child(5){
        display: none;
    }
}
/*.top-product-item .card .card-body{*/
/*    box-sizing: border-box;*/
/*}*/
.top-product-item .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.top-product-item .card .card-body .product-img-5-sidebar {
    width: 100%;
    height: 163px;
    object-fit: cover;
    margin-bottom: 10px;
}

.top-product-item .card .card-body .product-img-4-sidebar {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Footer */
footer .copyright {
    background-color: #000;
    color: #fff;
}
