
.mt-6 {
    margin-top: 5rem !important;
}

.font-bold {
    font-weight: bold !important;
}

.bg-light-yellow {
    background: #ffd66c !important;
}

/* Navbar */
nav {
    font-weight: bold;
    position: absolute;
}

nav .search-for-lg {
    display: none;
}

@media (min-width: 992px) {
    nav .search-for-md {
        display: none;
    }

    nav .search-for-lg {
        display: block;
    }
}

.navbar-nav li:hover .dropdown-menu {
    display: inline-block;
}

/* Dropdown menu*/
.dropdown-menu .dropdown-item:hover {
    background: #ffe9b4;
}

.dropdown-menu .dropdown-divider {
    border-color: black;
    margin: 0;
}

/* Carousel Items */
.carousel-item img {
    height: 350px;
}

/* Footer */
footer .copyright {
    background-color: #000;
    color: #fff;
}
