<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/img/icon.png">
    <title>LỖI HỆ THỐNG</title>
    <style>
        html,body{
            margin: 0;
        }
        #notfound .notfound-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background:#eec438;
            background-size: 100%;
        }
        .notfound .notfound-500 h1 {
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 220px;
            font-weight: bolder;
            margin: 0px;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 10px;
        }
        h1 {
            display: block;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        .notfound {
            max-width: 910px;
            width: 100%;
            line-height: 1.4;
            text-align: center;
        }
        .notfound h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 22px;
            font-weight: 700;
            text-transform: uppercase;
            color: #000;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        .notfound .home-btn {
            color: #000;
            background: #fff;

        }
        .notfound .home-btn:hover {
            color: #000;
            background: #ccc;
        }

        #notfound .notfound {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        .notfound .home-btn, .notfound{
            font-family: 'Montserrat', sans-serif;
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
            border: 2px solid transparent;
            text-transform: uppercase;
            padding: 13px 25px;
            font-size: 18px;
            border-radius: 40px;
            margin: 7px;
            transition: 0.2s all;
        }
        .notfound .notfound-500 {
            position: relative;
            height: 200px;
        }
    </style>
</head>
<body>
<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <div class="notfound-500">
            <h1>500</h1>
        </div>
        <h2>ĐÃ XẢY RA LỖI HỆ THỐNG</h2>
        <a href="/" class="home-btn">Về trang chủ</a>
    </div>
</div>
</body>
</html>
