{{#section 'css'}}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

{{/section}}
{{#section 'js'}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <style>
        .img-Extra, .img-thumbnail {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        .file-thumb {
            visibility: hidden;
            position: absolute;
        }

        .file-imgs {
            visibility: hidden;
            position: absolute;
        }
    </style>
    <script>
        $('#textTimeStart').datetimepicker({

            format: 'd.m.Y H:i',
            minDate: 1,
            minTime: 0,
            format: 'd/m/Y H:i',
            mask: true,
        });
        $('#textTimeEnd').datetimepicker({
            format: 'd.m.Y H:i',
            minDate: 1,
            minTime: 1,
            format: 'd/m/Y H:i',
            mask: true,
        });
    </script>
    <script>
        var totalExtraImg = undefined;
        var thumbImg = undefined;
        var extraImgs = undefined;
        $(document).on("click", ".browse-thumb", function () {
            var file = $(this).parents().find(".file-thumb");
            file.trigger("click");
        });

        $(document).on("click", ".browse-imgs", function () {
            var file = $(this).parents().find(".file-imgs");
            file.trigger("click");
        });

        $('input[type="file"][id="imgThumbnail"]').change(function (e) {
            thumbImg = this.files;
            var fileName = e.target.files[0].name;
            $("#file-thumb-holder").val(fileName);
            $('.img-Thumb-group').append('<img src="' + fileName + '" id="previewThumb" class="img-thumbnail">');
            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("previewThumb").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        });
        $(document).ready(function () {
            $('input[type="file"][id="imgsExta"]').on("change", function (e) {
                let filenames = [];
                let files = this.files;
                extraImgs = files;
                if (files.length > 1) {
                    filenames.push("Total Files (" + files.length + ")");
                }
                // else {
                //     for (let i in files) {
                //         if (files.hasOwnProperty(i)) {
                //             filenames.push(files[i].name);
                //         }
                //     }
                // }
                $('#file-imgs-holder').val(filenames.join(","));
                totalExtraImg = files.length;
                filenames = [];
                for (let i = 0; i < files.length; i++) {
                    filenames.push(files[i].name);
                }
                console.log(files);
                var list = $('.img-Extra-group');
                $('.img-Extra-group').html("");
                for (let i = 0; i < files.length; i++) {
                    list.append('<img src="' + filenames[i] + '" id="previewExtra' + i + '" class="img-thumbnail">');
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        // get loaded data and render thumbnail.
                        document.getElementById('previewExtra' + i + '').src = e.target.result;
                    };
                    reader.readAsDataURL(this.files[i]);
                }
            });
        });
        $('#formAddPro').on('submit', function (e) {
            e.preventDefault();
            var startTime = $('#textTimeStart').datetimepicker('getValue');
            var endTime = $('#textTimeEnd').datetimepicker('getValue');
            var d = new Date()
            if($('#textProName').val().length < 5){
                $('#dangerProName').html('Tên sản phẩm phải ít nhất 5 kí tự!');
                alert('Tên sản phẩm phải ít nhất 5 kí tự!');
                return;
            }
            else{
                $('#dangerProName').html('');
            }
            if($('#textTimeStart').datetimepicker('getValue').getHours() === d.getHours()){
                $('#dangerTimeStart').html('Mời nhập thời gian bắt đầu!');
                alert('Mời nhập thời gian bắt đầu!');
                return;
            }
            else{
                $('#dangerTimeStart').html('');
            }
            if($('#textTimeEnd').datetimepicker('getValue').getHours() === d.getHours()){
                $('#dangerTimeEnd').html('Mời nhập thời gian kết thúc!');
                alert('Mời nhập thời gian kết thúc!');
                return;
            }
            else{
                $('#dangerTimeEnd').html('');
            }
            if($('#textTimeEnd').datetimepicker('getValue') <= $('#textTimeStart').datetimepicker('getValue')){
                alert('Thời gian bắt đầu phải bé hơn thời gian kết thúc!');
                return;
            }
            var startPrice = parseInt($('#textProPrice').val());
            var buyNowPrice =  parseInt($('#textProBuyNowPrice').val());
            if(!Number.isNaN(buyNowPrice)){
                if(startPrice >=buyNowPrice){
                    $('#dangerPrice').html('Giá mua ngay phải lớn hơn giá khởi điểm!');
                    alert('Giá mua ngay phải lớn hơn giá khởi điểm!');
                    return;
                }
            }
            else{
                $('#dangerPrice').html('');
            }
            if(typeof thumbImg === 'undefined' || thumbImg.length === 0 ){
                console.log(thumbImg);
                $('#dangerThumb').html('Chưa có thumbnail cho sản phẩm');
                alert('Chưa có thumbnail sản phẩm!');
                return;
            }
            else{
                $('#dangerThumb').html('');
            }
            if (typeof extraImgs === 'undefined' || extraImgs.length < 3) {
                console.log(extraImgs);
                $('#dangerExtra').html('Chưa đủ số hình phụ! Tối thiểu 3 hình phụ');
                alert('Chưa đủ số hình phụ! Tối thiểu 3 hình phụ');
                return;
            }
            else{
                $('#dangerExtra').html('');
            }
            $('#formAddPro').off('submit').submit();
        })

    </script>
{{/section}}
<form id="formAddPro" class="container justify-content-center" method="post">
    <div>
        <div class="card">
            <div class="card-header bg-warning font-bold text-center">
                <h2>Thêm sản phẩm</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="font-bold" for="textProName">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="textProName" name="name" placeholder="Nhập tên sản phẩm"
                           autofocus required>
                    <p id="dangerProName" style="color: red"></p>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="font-bold" for="textProPrice">Giá khởi điểm</label>
                        <input type="number" class="form-control" id="textProPrice" name="price" placeholder="Nhập giá khởi điểm"
                               required>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="font-bold" for="textProStepPrice">Bước giá</label>
                        <input type="number" class="form-control" id="textProStepPrice" name="step_price" placeholder="Nhập bước giá"
                               required>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="font-bold" for="textProBuyNowPrice">Giá mua ngay</label>
                        <input type="number" class="form-control" name="buy_now_price" id="textProBuyNowPrice"
                               placeholder="Nhập giá mua ngay">
                    </div>
                    <p id="dangerPrice" class="ml-1" style="color: red"></p>
                </div>
                <div class="form-group mt-3">
                    <label class="font-bold" for="textTimeStart">Thời gian bắt đầu</label>
                    <input type="text" class="form-control" id="textTimeStart" name="time_start"
                           placeholder="Nhập thời gian bắt đầu" required>
                    <p id="dangerTimeStart" style="color: red"></p>
                </div>
                <div class="form-group">
                    <label class="font-bold" for="textTimeEnd">Thời gian kết thúc</label>
                    <input type="text" class="form-control" id="textTimeEnd" name="time_end"
                           placeholder="Nhập thời gian kết thúc" required>
                    <p id="dangerTimeEnd" style="color: red"></p>
                </div>
                <div class="form-group">
                    <label class="font-bold" for="textDescription">Mô tả</label>
                    <textarea class="form-control" name="description" id="textDescription" rows="3"
                              placeholder="Nhập mô tả ..." required></textarea>
                </div>
                <div class="form-group">
                    <label class="font-bold" for="imgThumbnail">Thumbnail sản phẩm</label>
                    <input type="file" id="imgThumbnail" name="thumbnail" class="file-thumb" accept="image/*">
                    <p id="dangerThumb" style="color: red"></p>
                    <div class="input-group">
                        <input type="text" class="form-control" disabled placeholder="Upload File"
                               id="file-thumb-holder">
                        <div class="input-group-append">
                            <button type="button" class="browse-thumb btn btn-primary">Browse...</button>
                        </div>
                    </div>
                    <div class="img-Thumb-group ml-2 col-sm-6">
                        <!--                        Chỉnh sửa ở trên phần js-->
                        <!--                        <img src="'+ fileName+'" id="previewThumb" class="img-thumbnail">-->
                    </div>
                    <div class="form-group">
                        <label class="font-bold mt-3" for="imgsExta">Hình ảnh phụ</label>
                        <input type="file" multiple id="imgsExta" name="imgs" class="file-imgs" accept="image/*">
                        <p id="dangerExtra" style="color: red"></p>
                        <div class="input-group">
                            <input type="text" class="form-control" disabled placeholder="Upload File"
                                   id="file-imgs-holder">
                            <div class="input-group-append">
                                <button type="button" class="browse-imgs btn btn-primary">Browse...</button>
                            </div>
                        </div>
                        <div class="img-Extra-group ml-2 col">
                            <!--                        Chỉnh sửa ở trên phần js-->
                            <!--                            <img src="' + filenames[i] +'" id="previewExtra'+ i +'" class="img-thumbnail">-->
                        </div>

                        <div class="form-inline mt-3">
                            <label class="mr-5 font-bold" for="">Tự động gia hạn</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="auto_renew"
                                       id="yesTimeExtend" value="true" checked>
                                <label class="form-check-label" for="yesTimeExtend">Có</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                       id="noTimeExtendExtend" value="false">
                                <label class="form-check-label" for="noTimeExtend">Không</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-dark text-white pl-5 pr-5 pt-2 pb-2 font-bold">
                        Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>