<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login with...</title>
</head>
<body>
	{{#if loginFailed}}
		<span>Email được liên kết với tài khoản {{provider}} của bạn đã dùng để đăng nhập với một tài khoản đã có trong hệ thống. Vui lòng sử dụng tài khoản khác</span>
	{{/if}}
	<div style="width:500px;height:180px;">		
      <h2 style="font-size:40px;">Welcome! Please log in.</h2>
      <div>
      	<form action="/auth/facebook" method="post">
	      	<button type="submit">Login with Facebook</button>
	     </form>
      </div>
      <div>
      	<form action="/auth/google" method="post">
	      	<button type="submit">Login with Google</button>
	     </form>
      </div>
    </div>
</body>
</html>