{{#section 'css'}}
    <style>
        :root {
            --color: #eec438;
            --color-word: #000;
        }

        .login-form h1 {
            font-size: 36px;
            text-align: center;
            color: var(--color-word);
            margin-bottom: 30px;
            font-weight: normal;
        }

        .login-form {
            width: 450px;
            border-radius: 6px;
            margin: auto auto;
            display: table;
            padding: 15px 30px 30px;
            box-sizing: border-box;
            box-shadow: 10px 10px 10px 10px #ccc;
            position: relative;

        }

        .form-group {
            float: left;
            width: 100%;
            margin: 0 0 15px;
            position: relative;
        }

        .login-form input {
            width: 100%;
            padding: 5px;
            height: 56px;
            border-radius: 74px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 15px;
            padding-left: 75px;
        }

        .login-form .form-group .input-icon {
            font-size: 15px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            height: 100%;
            padding-left: 35px;
            color: #666;
        }

        .login-form .login-btn {
            background: var(--color);
            padding: 11px 50px;
            border-color: var(--color);
            color: var(--color-word);;
            text-align: center;
            margin: 0 auto;
            font-size: 20px;
            border: 1px solid var(--color);
            border-radius: 44px;
            width: 100%;
            height: 56px;
            cursor: pointer;
        }

        .login-form .social-icon button {
            font-size: 20px;
            /*color: var(--color-word);;*/
            color: cornflowerblue;
            height: 50px;
            width: 50px;
            /*background: var(--color);*/
            background: #fff;
            border-radius: 60%;
            margin: 0px 10px;
            cursor: pointer;
        }

        .login-form button:hover {
            opacity: 0.9;
        }


        .login-form .seperator b {
            width: 40px;
            height: 40px;
            font-size: 12px;
            text-align: center;
            line-height: 40px;
            background: #fff;
            display: inline-block;
            border: 1px solid var(--color);
            border-radius: 50%;
            position: relative;
            top: -22px;
            z-index: 1;
        }

        .login-form p {
            float: left;
            width: 100%;
            text-align: center;
            font-size: 16px;
            margin: 0 0 10px;
        }

        .err_login p {
            color: red;
            font-style: italic;
        }
        .resend{
            width: 100%;
            border-radius: 44px;
        }
        @media screen and (max-width: 767px) {
            .login-form {
                width: 90%;
                padding: 15px 15px 30px;
            }
        }
    </style>


{{/section}}
{{#section 'js'}}

    <script>
        $('#frmResetPwd').on('submit', function (e) {
            e.preventDefault();


            const password = $('#txtPassword').val();
            const confirm = $('#txtConfirm').val();

            if(password.length < 8){
                showAlert('Mật khẩu quá ngắn!');
                alert('Mật khẩu quá ngắn!');
                return;
            }
            else {
                if (password !== confirm) {
                    // alert("Mật khẩu không khớp")
                    showAlert("Mật khẩu không khớp");
                    return;
                }
            }
            if(password.includes(' ') ){
                showAlert('Vui lòng không dùng khoảng cách trong mật khẩu, tên đăng nhập và email');
                return;
            }

                $('#frmResetPwd').off('submit').submit();
        });


        function showAlert(alertMsg){
            $('#alertMsg').show();
            $("#err").text(alertMsg);
        };
        function hideAlert(){
            $('#alertMsg').hide();
        };
        $("#txtOldPwd").focus();
    </script>
{{/section}}

<div  id="formResetPwd" class="col-xl ">

    <div class="login-form  mt-5">

        <h1>Đổi mật khẩu</h1>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alertMsg"  style="display: none;">
            <span id="err" name="err"></span>
            <button type="button" class="close"  aria-label="Close" onclick="hideAlert()">
                <p aria-hidden="true">x</p>
            </button>
        </div>
        <form  id="frmResetPwd" method="post">
            <div class="form-group">
                <input type="password" id="txtOldPwd" name="OldPwd" placeholder="Nhập mật khẩu cũ" autofocus required>
                <span class="input-icon"><i class="fa fa-lock"></i></span>
            </div>
            <div class="form-group">
                <input type="password" id="txtPassword" name="password" placeholder="Nhập mật khẩu mới" required>
                <span class="input-icon"><i class="fa fa-lock"></i></span>
            </div>
            <div class="form-group">
                <input type="password" id="txtConfirm" name="confirm" placeholder="Xác nhận mật khẩu" required>
                <span class="input-icon"><i class="fa fa-check"></i></span>
            </div>
            <div>
                <div class="err_login">
                    <p><i class="fa fa-key" aria-hidden="true"></i> Đã hết thời hạn xác minh</p>
                </div>
                <button type="button" class="resend btn btn-primary">Gửi lại</button>
            </div>
            <button class="login-btn">Xác nhận</button>

        </form>

    </div>
<!--    <div class="col-xl"></div>-->

</div>